.intro {
  width: min(90vw, 600px);
  margin-inline: auto;
}

.intro__text--more {
  display: none;
}

#more-label {
  border: 1px solid blue;
  border-radius: 30px;
  padding: 10px;
}
#more-label :hover {
  background-color: aqua;
}
#more-label:has(#more-checkbox:checked) {
  border: 1px solid blue;
}
#more-label:has(#more-checkbox:checked) + .intro__text--more {
  display: block;
}