body {
  width: min(90vw, 600px);
  font-family: sans-serif;
  margin-inline: auto;
}

.intro__text--more {
  display: none;
}

#more-label {
  border: 1px solid blue;
  border-radius: 30px;
  padding: 10px;
}
#more-checkbox {
  display: none;
  &:checked + .intro__text--more {
    display: block;
  }
}

#cantilever-graph,
#simple-graph {
  width: min(90vw, 500px);
  height: min(50vw, 200px);
}
