body {
  width: min(90vw, 600px);
  font-family: sans-serif;
  margin-inline: auto;
}

img {
  width: min(50vw, 300px);
}

.content-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .content-container {
    flex-direction: row;
  }
}

.intro__text--more {
  display: none;
}

#more-label {
  border: 1px solid blue;
  border-radius: 30px;
  padding: 10px;
}

#more-checkbox {
  display: none;
}
#more-checkbox:checked + .intro__text--more {
  display: block;
}

#cantilever-graph,
#simple-graph {
  width: min(80vw, 500px);
  height: min(80vw, 200px);
}